/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
Background: #F2F1E8;
Text: #131511;
Inline Link: #968772;
Inline Link (Hover): #967343;
Navigation Background: #FFFFFF;
Navigation Text: #2B2F26;
Navigation Text (Hover): #CD5D67;
Navigation Text (Active) #968772;
Button Background: #968772;
Button Background (Hover): #967343;
Button Text: #F2F1E8;
Button Text (Hover): #FFFFFF;
Input Border Bottom: #968772;
Input Border Bottom (Focus): #967343;
*/


/*.main_nav {
  text-align: center;
  word-spacing: 30px;
  font: #2B2F26;
}*/

.site_container {
  background-color: #F2F1E8;
  margin: 20px;
}

.navigationbar {
  background-color: white;
  height: 60px;
  padding: 50px;
}


ul {
  text-align: center;
  font-size: 60px;

}

.logo {
  width: 5%;
  position: relative;
  height: auto;
  padding: 1em;
  float: left;
}

nav ul li {
  display: inline-block;
  margin: 20px;
  list-style-type: none;
  text-align: right;
}


/*nav ul li a{
  float: left;
  display: block;
  color: #2B2F26;

}*/



img.logo {
  height: 100px;
  width: 100px;
}

.navigationbar {
  margin-bottom: 50px;

}

h1 {
  font-size: 200px;
  text-align: center;
  margin: 2px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 100px;
}

h4 {
  font-size: 100px;
}

.pagetop {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
}

p {
  font-family: Merriweather, serif;
  font-style: normal;
  font-size:60px;
}

blockquote {
  font-size: 70px;
}

.pagebottom {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
}

img.roomtogrow {
  object-fit: fill;
}

div.Monthly.Plans {
  padding-left: 200px;
  padding-right: 200px;
}

table {
  font-size: 60px;
}

table, th, td {
   border: 1px solid black;
   text-align:left;
}
